UL {
  text-align: center;
  border-top: 2px dotted red;
  border-bottom: 3px dotted red;
  padding-top: 10px;
  padding-bottom: 10px;
}

UL LI {
  display: inline;
  padding-left: 14px;
  padding-right: 14px;
  letter-spacing: 10px;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: black;
}
ul li a:hover{
  text-decoration: underline;
}
