table{
  border: 3px solid black;
  background-color: yellow;
  empty-cells: hide;
}
td{
  border: 3px solid black;

}
tr.top{
  background-color: red;
}
tr.bottom{
  background-color: yellow;
}
