UL {
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

ul li {
  display: inline;
  padding: 13px;
  letter-spacing: 3px;

}
a{
  text-decoration: none;
  color: black;
}
