#header {
  width: 100%;
  height: 50px;
  background-color: #93DAFF;
}

#header-bottom {
  width: 100%;
  height: 50px;
  background-color: #87CEFA;
}

#section1-section1 {
  width: 50%;
  height: 300px;
  background-color: #32F1FF;
  float: left;
}

#section1-section2 {
  width: 50%;
  height: 300px;
  background-color: #00A5FF;
  float: right;
}

#section1-section3 {
  width: 50%;
  height: 300px;
  background-color: #00D7FF;
  float: left;
}

#section1-section4 {
  width: 50%;
  height: 300px;
  background-color: #96A5FF;
  float: right;
}

footer {
  width: 100%;
  height: 100px;
  background-color: skyblue;
  clear: both;
}
