#ball {
  position: absolute;
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from, to {
    bottom: 0px;
    animation-timing-function: ease-out;
  }

  50% {
    background-color: red;
    bottom: 650px;
    animation-timing-function: ease-in;
  }
}
@keyframes myanime {
  0%{left:0px; top:0px;}
  25%{left:100px;top:0px;background-color: yellow;}
  50%{left:200px;top:0px;background-color: green;}
  75%{left:300px;top:0px;background-color: cyan;}
  100%{left:0px;top:0px;background-color:red;}

}
