ul>li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 5px;
  padding: 10px;
  width: 175px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  background-color: #bcbcbc;
  margin-right: 5px;
}

ul>li:hover {
  background-color: white;
  color: #bcbc;
}
