div#div-square{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: 2s mymanim;
    -webkit-transition: width 2s, height 2s, border 2s, -webkit-transform 2s;
  animation-iteration-count: 10;
}
div:hover#div-square {
  width: 200px;
  height: 200px;
  background-color: yellow;
  transform: rotate(180deg);
  -webkit-transform: rotate(360deg);
}
